<div class="card shadow-effect" routerLink="/materiel">

    <img src="https://preview.webpixels.io/quick-website-ui-kit/assets/img/theme/light/placeholder.png"
        class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center m-2">Stand</small>
        <small class="bg-light text-success text-center m-2">Disponible</small>
        <small class="bg-light text-info text-center m-2">bla bla bla</small>

        <h5 class="mt-1">Stand numéro 2 est Disponible</h5>
        <p>Ce stand bla bla bla</p>
        <small class="bg-light text-warning text-center ml-3">Prochaine réservation: 25 nov</small>

    </div>

</div>