<!-- <div class="d-flex justify-content-center vh-100 align-items-center">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Club Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let club of clubs">
                <td>{{ club.clubName }}</td>
                <td>{{ club.clubDescription }}</td>
            </tr>
        </tbody>
    </table>

</div> -->
<div class="d-flex justify-content-center  vw-100 ">
    <div class="">
        <div class="row justify-content-center" style="width:90vw;">
            <div class="  col-8  col-md-4 offset-md-1 child mt-2"></div>
            <div class="  col-8  col-md-4 offset-md-1 child mt-2"></div>
            <div class="  col-8  col-md-4 offset-md-1 child mt-2"></div>
            <div class="  col-8  col-md-4 offset-md-1 child mt-2"></div>

        </div>
    </div>
</div>
<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Derniers Publications</h2>
        <p> bla bla bla bla bla bla bla bla</p>
    </div>
    <div class="row">
        <div class="col-md-4 mt-3">
            <app-materiel-card></app-materiel-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-materiel-card></app-materiel-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-materiel-card></app-materiel-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-materiel-card></app-materiel-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-materiel-card></app-materiel-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-materiel-card></app-materiel-card>
        </div>
    </div>

</section>