<div class="d-flex flex-column justify-content-center align-items-center " style="min-height: calc(100vh - 60px);">
    <div class="card shadow p-3 mb-5 bg-white rounded mt-5 mx-3" style="min-width:300px;width: 95vw;">
        <h2 class="card-title text-center mb-4">Liste des Clubs</h2>
        <div class="table-responsive">
            <table class="table table-border table-hover" id="no-more-tables">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th colspan="2">Etat</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let club of clubs">
                        <td data-title="Name">{{ club.clubName }}</td>
                        <td data-title="Email">{{ club.email }}</td>
                        <td data-title="Telephone">{{ club.tel }}</td>
                        <td data-title="Etat">{{ club.etat?"Active":"Non Active" }}</td>
                        <td data-title="" (click)="changeClubState(club._id!,!club.etat)"><button class="btn "
                                [ngClass]="{'btn-danger':club.etat,'btn-success':!club.etat}">{{
                                !club.etat?"Active":"Desactive"
                                }}</button></td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center"><button (click)=" togglePopUp()" class="btn btn-primary" style="width: fit-content;">
                Ajouter un
                Club</button></div>
    </div>
</div>
<div class="d-flex justify-content-center align-items-center vw-100 vh-100 fixed-top zindex-popover bg-dark p-5"
    style="--bs-bg-opacity:0.6;backdrop-filter:blur(8px)" *ngIf="addingNewRole" (click)="togglePopUp()">
    <div class="card" (click)="$event.stopPropagation()" style="position: relative;">
        <div class="card-body py-5 px-md-5">
            <div class="container mt-4">
                <h2>Signup</h2>

                <div class="container mt-5 ">
                    <form (ngSubmit)="signup()" [formGroup]="form" class="row g-3 text-left">
                        <div class="">
                            <label for="clubName" class="form-label">Club Name</label>
                            <input type="text" class="form-control" id="clubName" formControlName="clubName" [ngClass]="{'is-invalid': form.controls['clubName'].invalid && form.controls['clubName'].touched,
                        'is-valid': form.controls['clubName'].valid && form.controls['clubName'].touched}">
                            <div class="invalid-feedback"
                                *ngIf="form.controls['clubName'].invalid && form.controls['clubName'].touched">
                                Please enter a valid Club Name.
                            </div>
                        </div>

                        <div class="">
                            <label for="clubDescription" class="form-label">Club Description</label>
                            <textarea class="form-control" id="clubDescription" formControlName="clubDescription"
                                [ngClass]="{'is-invalid': form.controls['clubDescription'].invalid && form.controls['clubDescription'].touched,
                        'is-valid': form.controls['clubDescription'].valid && form.controls['clubDescription'].touched}"></textarea>
                            <div class="invalid-feedback"
                                *ngIf="form.controls['clubDescription'].invalid && form.controls['clubDescription'].touched">
                                Please enter a valid Club Description.
                            </div>
                        </div>

                        <div class="">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" formControlName="email" [ngClass]="{'is-invalid': (form.controls['email'].invalid && form.controls['email'].touched)|| serverError,
                        'is-valid': (form.controls['email'].valid && form.controls['email'].touched && !serverError)}">
                            <div class="invalid-feedback"
                                *ngIf="form.controls['email'].invalid && form.controls['email'].touched">
                                Please enter a valid email address.
                            </div>
                            <div class="invalid-feedback" *ngIf="serverError">
                                {{serverErrorMessage}}
                            </div>
                        </div>

                        <div class="">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" formControlName="password"
                                [ngClass]="{'is-invalid': form.controls['password'].invalid && form.controls['password'].touched,
                        'is-valid': form.controls['password'].valid && form.controls['password'].touched}">
                            <div class="invalid-feedback"
                                *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
                                Please enter a valid password.
                            </div>
                        </div>

                        <div class="">
                            <label for="tel" class="form-label">Telephone</label>
                            <input type="tel" class="form-control" id="tel" formControlName="tel" [ngClass]="{'is-invalid': form.controls['tel'].invalid && form.controls['tel'].touched,
                        'is-valid': form.controls['tel'].valid && form.controls['tel'].touched}">
                            <div class="invalid-feedback"
                                *ngIf="form.controls['tel'].invalid && form.controls['tel'].touched && !form.controls['tel'].hasError('pattern')">
                                Please enter a valid telephone number.
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="form.controls['tel'].hasError('pattern') && form.controls['tel'].touched">
                                Please enter a valid telephone number exactly 8 digits long.
                            </div>
                        </div>

                        <div class="col-12 text-center mt-4">
                            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="position: absolute;
            top: 5%;right: 5%;"><button (click)="togglePopUp()" class="btn btn-danger">X</button></div>
    </div>

</div>